:root {
  --bs-body-bg: #323232;
  overflow-x: hidden;
}

.offcanvas {
  --bs-offcanvas-color: white;
  background-color: black;
}

.offcanvas.offcanvas-start {
  --bs-offcanvas-width: 200px;
}

.btn {
  margin-bottom: 10px;
  margin-top: 10%;
}

.nome {
  margin-bottom: 100px;
}
.text {
  text-align: left;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 100px;
  margin-left: 14%;
}
.text-bg-dark {
  background-color: black !important;
  margin-left: 14%;
  margin-top: 2%;
  border-radius: 30px;
  height: 180px;
}
.text-bg-wip {
  background-color: orange !important;
  margin-left: 14%;
  margin-top: 2%;
  border-radius: 30px;
  height: 180px;
}
.card-img-top {
  width: 80px;
  margin-left: -10%;
  margin-top: 8%;
}
.card-img-offcanvas {
  width: 80px;
  margin-left: 50%;
  margin-top: 8%;
}
.about-me {
  float: right;
  margin-top: 50px;
  font-size: 30px;
  margin-right: 10%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
.card-text-2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.card-text-3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 20%;
}
.btn-youtube {
  margin-left: 20%;
}
.btn-projects {
  margin-left: 20%;
}

.btn-github {
  margin-left: 25%;
}

.card2-margin {
  margin-left: 2%;
}

.card3-margin {
  margin-left: 2%;
}

.teste {
  font-size: 200px;
  text-align: center;
}

.BlackPage {
  background-color: black;
  height: 100vh;
}

.BlackPageText {
  text-align: justify;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 100px;
  margin-left: 14%;
  margin-bottom: -5%;
}

.HereButton {
  transform: translate(290px, -320px);
  border-radius: 1.5rem;
  background-color: #295ff4;
  color: white;
  padding: 10px;
  position: static;
  text-decoration: none;
}

.carousel {
  margin-left: 199px;
  margin-right: 199px;
}

/*removes weird inherited padding that was messing with the layout and carousel */
body {
  padding: 0 !important;
}

/*removes weird inherited padding that was messing with the layout and carousel */
